.intro{
    display: flex;
    background-image: url("images/handcrafted-wooden-decorative-sculptures.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}
.intro div h1{
    font-size: 4rem;
    text-align: center;
}

.intro-container{
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}
.intro div p{
    font-size: 1.6rem;
    text-align: center;
}

.about-us{
    height: 70vh;
    display: flex;
}
.row{
    display: flex;
    width: 100vw;
    height: 50%;
}
.about-img{
    width: 33.33%;
    height: 100%;
    color: #ffffff;
}
.block-blur{
    transition: 500ms;
}
.block-blur:hover{
    filter: none;
    scale: 1;
    background-size: 105%;
    transition: 500ms;
}

@keyframes load {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.about-img h1, .about-img p{
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    animation-timeline: view();
    animation: load 4s;
}
@media (max-width: 1135px){
    .about-img h1{
        font-size: 1.3rem;
    }
    .about-img p{
        font-size: 0.7rem;
    }
}
.about-img h1{
    padding-top: 5%;
}
.red{
    background-color: deeppink;
}
.ourmission{
    background-image: url("images/close-up-hand-drawing-project.jpg");
    background-size: 100%;
    background-position: center;
    transition: 500ms;
}
.ourvalues{
    background-image: url("images/man-surprising-woman-with-gift-living-room.jpg");
    background-size: 100%;
    background-position: center;
    transition: 500ms;
}
.ourteam{
    background-image: url("images/engineers-front-wall.jpg");
    background-size: 100%;
    background-position: center;
    transition: 500ms;
}
.blue{
    background: linear-gradient(to right, #212121, #252525, #212121);
    transition: 200ms;
}
.blue:hover{
    background: #181818;
    transition: 200ms;
}

@media (max-width: 768px){
    .intro{
        background-position: center;
    }
    .intro-container{
        width: 80vw;
    }
    .intro-container h1{
        font-size: 2rem !important;
    }
    .intro-container p{
        font-size: 1rem !important;
    }
    .about-us{
        display: none;
    }

}